<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen ">

    <header>
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
      <% if user_signed_in? %>
      <ul>
     <li>Home</li>
     <li><%= link_to "Profile", profile_path(current_user)%></li>
     </ul>        
      <% end %>

    </header>

    <main class="flex-grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
